---
import { Code } from "@lucide/astro";
import Footer from "./Footer.astro";
---

<!-- Developer Info Card -->
<section
  class="flex flex-wrap justify-center items-center py-4 px-4 sm:px-6 md:px-8 gap-2 text-base-content/60 text-sm"
>
  <Code class="size-4" />
  <p>A weboldal fejlesztője:</p>
  <a
    href="https://peterszarvas.hu"
    target="_blank"
    rel="noopener noreferrer"
    class="hover:link hover:text-base-content"
  >
    https://peterszarvas.hu
  </a>
</section>
<Footer />
