---
import ContactFooter from "../../components/v2/ContactFooter.astro";
import ContactLink from "../../components/v2/ContactLink.astro";
import V2Layout from "../../layouts/V2Layout.astro";
import { Mail, Phone, Code } from "@lucide/astro";
---

<V2Layout
  title="Kapcsolat - Szarvas Pongrác"
  description="Vegye fel a kapcsolatot Szarvas Pongrác grafikus, festő, illusztrátor művésszel"
>
  <section class="py-8 bg-base-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h1 class="text-4xl md:text-5xl font-bold text-base-content mb-4">
          Kapcsolat
        </h1>
      </div>

      <div class="card mx-auto w-96 bg-base-100 shadow-xl">
        <div class="card-body flex flex-col gap-6">
          <ContactLink
            href="mailto:szarvas.pongrac@example.com"
            title="Email"
            text="szarvas.pongrac@example.com"
            icon={Mail}
          />
          <ContactLink
            href="tel:+36301234567"
            title="Telefon"
            text="+36301234567"
            icon={Phone}
          />
        </div>
      </div>
    </div>
  </section>

  <ContactFooter slot="footer" />
</V2Layout>
