---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Család - Szarvas Pongrác"
  description="Szarvas Pongrác családi fotói"
>
  <p class="lapcim">Család</p>
  <br /><br style="font-size: 40px" />

  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <img
      src="/images/csalad.jpg"
      alt="Család"
    />
  </div>
</PageLayout>
