---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Életrajz - Szarvas Pongrác"
  description="Szarvas Pongrác életrajza - grafikus, festő, illusztrátor"
>
  <h1 class="lapcim">Életrajz</h1>

  <article class="eletrajz">
    <div>
      <img
        src="/images/szarvasp.jpg"
        style="width: 200px; margin: 0; float: left"
        alt="Szarvas Pongrác portréja"
      />

      <p class="szoveg">
        1961-ben született Baján, ma is ott él. Felesége Vancsura Margit, akivel
        hat gyereket nevelnek. A Gemenci Erdő- és Vadgazdaságnál dolgozik, ahol
        főként idegenforgalommal foglalkozik, de sok éven át volt
        természetvédelmi őr is. Szabadidejében alkot, egyaránt érdekli a
        környező erdők, vizek és a messzi tájak élővilága.
      </p>

      <h2 class="lapcim">Tanulmányok</h2>

      <p class="szoveg">
        1981-84 között a budapesti dekoratőrképző iskolában tanult – képzőművész
        tanárai Károlyi Ernő, Károlyi Zsigmond, Mester András és Tolvaly Ernő
        voltak. Ekkor ismerkedett meg a vadász körökben ismert Csergezán Pál és
        Muray Róbert festőművészekkel, Csekő Sándorral, Dr. Zoltán Attilával (a
        Nimród főszerkesztőivel) és Bányai József muzeológussal, akik
        biztatására kezdett el állatábrázolással foglalkozni. Első sikereit
        rajzaival, illusztrációival ekkor könyvelhette el.
      </p>

      <h2 class="lapcim">Publikációk</h2>

      <p class="szoveg">
        A Nimród, a Dénes Natúr Műhely és más kiadók felkérésére több mint húsz,
        jellemzően vadászati szép- és szakirodalmi művet illusztrált. Rendszeres
        résztvevője, alapítója a Gemenc Zrt. által szervezett alkotó táboroknak.
        Több csoportos és egyéni kiállításon vett részt, alkotásai főként a
        természetbarátok, vadászok otthonában lelhetők fel, a közgyűjtemények
        közül a Magyar Mezőgazdasági Múzeum és a Szilvásvádi Erdészeti Múzeum is
        őrzi egy-egy képét. Néhány munkája Ausztriába, Belgiumba, Német-,
        Olasz-, Orosz-, Svéd- és Spanyolországba került.
      </p>

      <h2 class="lapcim">Elismerések</h2>

      <p class="szoveg">
        1997-ben az V. Országos Vadászati- Halászati és Természetvédelmi
        Kiállításon egy képe különdíjat nyert. 2005-ben az I. Országos
        Vadászfestészeti Pályázat és Kiállításra küldött alkotását oklevéllel
        jutalmazták. 2008-ban Baja Város önkormányzata idegenforgalmi és
        természetvédelmi tevékenységéért "Baja Város Fejlesztéséért" kitüntető
        díjban részesítette.
      </p>
    </div>

    <div class="middle">
      <h1 class="lapcim">Könyvillusztrációk és egyéb kiadványok</h1>

      <ul class="szoveg">
        <li>
          Sterbetz István: Házason vadászható madaraink (Nimród Vadászakadémia
          9.- 2001.)
        </li>
        <li>Páll Endre: A vaddisznó (Nimród Vadászakadémia 8.- 2001.)</li>
        <li>
          Dr. Elán Károly: Elsősegély a természetben (Nimród Vadászakadémia 7.-
          2001.)
        </li>
        <li>
          Fatalin Gyula: A magyar gímszarvas (Nimród Vadászakadémia 5.- 2000.)
        </li>
        <li>
          Plavecz János: A vadászat gyakorlata (Nimród Vadászakadémia 3.- 2000.)
        </li>
        <li>
          Dr. Kóhalmy Tamás: Korbecslés szarvastól a siketfajdig (Nimród
          Vadászakadémia 2.- 1999.)
        </li>
        <li>
          Sipos György: Trófeák előkészítése preparáláshoz (Nimród
          Vadászakadémia 1.-1998.)
        </li>
        <li>
          Földi László: Az orgonák völgyében (Móricz Zs. Színház, Nyíregyháza
          -1990.)
        </li>
        <li>Földi László: Vadregény (Dénes Natúr Műhely Kiadó -1997.)</li>
        <li>Fáczányi Ádám: Vadászmagatartás (Nimród Kiadó -1999, 2002.)</li>
        <li>Videcz Ferenc: Holtomiglan (Dénes Natúr Műhely Kiadó -1997.)</li>
        <li>Videcz Ferenc: Verőfény és alkonyat (D.N.M. Kiadó -1998.)</li>
        <li>Videcz Ferenc: Vadász voltam egykoron (D.N.M. Kiadó -1999.)</li>
        <li>Videcz Ferenc: Tanútvények (D.N.M. Kiadó -2001.)</li>
        <li>Videcz Ferenc: Vendégkönyv (D.N.M. Kiadó -2004.)</li>
        <li>Videcz Ferenc: Zsugorított görbetükör (Terraprint Kiadó -2004.)</li>
        <li>Bárórczky Kornél: Gemenctől Gemencig (D.N.M. Kiadó -1999.)</li>
        <li>
          Vendégváró útikézikönyvek: Látnivalók Magyarországon (Well-Press Kiadó
          -2000.)
        </li>
        <li>
          Millenniumi Vadászati Almanach: Tolna megye (OMVK Tolna m. szervezete
          -2001.)
        </li>
        <li>
          Millenniumi Vadászati Almanach: Komárom - Esztergom megye (D.N.M.
          Kiadó -2001.)
        </li>
        <li>
          Millenniumi Vadászati Almanach: Bács-Kiskun megye (Bács - Kk. m.
          Vadászszövetség -2001.)
        </li>
        <li>
          Millenniumi Vadászati Almanach: Pest megye (D.N.M. Kiadó -2001.)
        </li>
        <li>
          Millenniumi Vadászati Almanach: Magyarország (D.N.M. Kiadó -2001.)
        </li>
        <li>Anti István: A dámszarvas (Nimród Vadászakadémia 10.-2002.)</li>
        <li>Dr. Zoltán János: A vadászat napszámosai (D.N.M. Kiadó -2001.)</li>
        <li>DDNP. Gemenci turista térkép (DDNP. Ig -2001.)</li>
        <li>DDNP. Béda-Karapancsai turista térkép (DDNP. Ig -2001.)</li>
        <li>Duna- Dráva Nemzeti Park turista térkép (Paulus -2002.)</li>
        <li>
          DDNP. Béda-Karapancsai tájegység és a Kopácsi-rét turistatérképe
          (Paulus -2004, 2008.)
        </li>
        <li>
          NIMRÓD Vadászújság, Magyar Vadászlap, Természet BÚVÁR- c. lap egyes
          számai
        </li>
        <li>
          Fáczányi Ádám, Nimród Vadászújság: Fejet hajtunk (Országos Magyar
          Vadászkamara 2008.)
        </li>
      </ul>
    </div>
  </article>
</PageLayout>

<style>
  article.eletrajz {
    p {
      text-indent: 0;
    }
    ul {
      list-style: square;
    }

    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
