---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Szarvas Pongrác"
  description="Szarvas Pongrác grafikus, festő, illusztrátor honlapja"
>
  <div class="welcome">
    <img
      src="/images/szarvasok.jpg"
      alt="Szarvasok"
    />
  </div>
</PageLayout>

<style>
  .welcome {
    img {
      max-width: 550px;
      width: 100%;
      height: auto;
    }
  }
</style>
