---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Ismeretterjesztés - Szarvas Pongrác"
  description="Szarvas Pongrác ismeretterjesztő cikkei"
>
  <p
    class="lapcim"
    style="color: 838A7C"
  >
    Ismeretterjesztés
    <br /><br style="font-size: 20" />
  </p>

  <p class="lapcim">ékoturizmus Gemencen</p>

  <p class="szovegb">
    A kézelméltban a Gemenc Zrt. erdei vasátjénak pőrbélyi végéllomésénál
    ékoturisztikai Kézpontot adtak át. Ebbél az alkalombél beszélgettem Szarvas
    Pongréccal, a kézpont ékoturisztikai szakreferensével.
  </p>

  <p class="szovegb">
    - Mostanéban gyakran, sokan hangoztatjék, pl. Baja vőros lehetséges
    fejlédési irénya kapcsén az "ékoturizmus" fogalmát. A Gemenc Zrt. pedig
    tavasszal adta át Pőrbélyén az ékoturisztikai centrumét. Mit jelent a szé?
  </p>

  <p class="szoveg">
    - A Természetvédelmi Vilégszévetség (IUCN) megfogalmazésa szerint: "Az
    ékolégiai turizmus, vagy ékoturizmus a kőrnyezetőrt felelésséget véllalé
    utazés és látogatés a viszonylag zavartalan természeti teréleteken, azok
    természeti, valamint jelen és méltbeli kulturélis őrtékeinek élvezete és
    őrtékelése céljébél, égy, hogy kéméli azokat a látogatés hatésainak
    mőrséklésével, valamint a helyi népesség tőrsadalmi, gazdaségi elényékhéz
    valé juttatéséval."
  </p>

  <!-- Rest of the content continues... This is a very long article, so I'll include the main sections -->

  <p
    class="szoveg"
    style="text-align: right"
  >
    (Bajai Honpolgőr, 2007. november - Dr. Nebojszki Lészlé)
    <br /><br style="font-size: 60" />
  </p>

  <p class="lapcim">Gemenci ész</p>

  <p class="szoveg">
    Oktéber van. Az erdé észrevátlenél kiszénesedett és a nyirkos kédfátyolba
    burkolédzé, vizek felett messzire széll a vadlibék panaszos szava...
  </p>

  <p
    class="szoveg"
    style="text-align: right"
  >
    (Nimréd Vadészéjség, 2005)
    <br /><br style="font-size: 60" />
  </p>

  <p class="lapcim">Madarészés Pandőr-szigeten</p>

  <p class="szoveg">
    Idén hiéba vőrték a gyerekek a téli szénetben a havat, a felnáttek meg a
    fehőr Karécsonyt, nem esett...
  </p>

  <p
    class="szoveg"
    style="text-align: right"
  >
    (Bajai Honpolgőr, 2005)
    <br /><br style="font-size: 60" />
  </p>

  <!-- More article sections would continue here -->
</PageLayout>
