---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Képzőművészet - Szarvas Pongrác"
  description="Szarvas Pongrác képzőművészeti alkotásai"
>
  <h2 class="lapcim">Képzőművészet</h2>

  <div class="images">
    <a href="/olaj">
      <div>Olajfestmények</div>
      <img
        src="/images/a.jpg"
        alt="Olaj"
        style="width: 250px; border: 0"
      />
    </a>

    <a href="/akvarell">
      <div>Akvarellek</div>
      <img
        src="/images/b.jpg"
        alt="Akvarellek"
        style="width: 250px; border: 0"
      />
    </a>

    <a href="/pasztell">
      <div>Pasztellek</div>
      <img
        src="/images/c.jpg"
        alt="Pasztellek"
        style="width: 250px; border: 0"
      />
    </a>

    <a href="/grafika">
      <div>Grafikák</div>
      <img
        src="/images/d.jpg"
        alt="Grafikák"
        style="width: 250px; border: 0"
      />
    </a>
  </div>
</PageLayout>

<style>
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0 0 1rem 0;
    @media only screen and (max-width: 300px) {
      padding: 0 0 1rem 0;
    }

    div {
      background-color: #324026;
      padding: 1rem;
      text-align: center;
    }

    img {
      max-height: 300px;
      max-width: 300px;
      width: 250px;
      border: 0;

      @media only screen and (max-width: 300px) {
        width: 100%;
      }
    }
  }
</style>
