---

---

<footer>
  <span>© 2024 Szarvas Pongrác. Minden jog fenntartva.</span>
</footer>

<style>
  footer {
    background-image: url("/images/alja.jpg");
    font-family:
      Times New Roman,
      verdana;
    font-size: 1rem;
    color: #3b4838;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
