---

---

<header>
  <a href="/">
    <div class="cim">Szarvas Pongrác</div>
    <div class="halovany">grafikus, festő, illusztrátor</div>
  </a>
  <div class="contacts">
    <div class="contact">
      <span class="megn">Cím:</span>
      <span class="sarok"> H-6500 Baja, Szüretetlő u. 1.</span>
    </div>
    <div class="contact">
      <span class="megn">Mobil:</span>
      <span class="sarok"> 30-819-2282</span>
    </div>
    <div class="contact">
      <span class="megn">E-mail:</span>
      <span class="sarok">
        <a href="mailto:szpongrac@gmail.com"> szpongrac@gmail.com </a>
      </span>
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    padding: 0 1rem 0 1rem;
    background-image: url("/images/lececske.jpg");

    @media only screen and (max-width: 450px) {
      flex-direction: column;
      height: 8rem;
      padding: 1rem 1rem;

      a[href="/"] {
        align-self: flex-start;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    @media only screen and (max-width: 450px) {
      align-self: flex-end;
    }
  }

  .contact {
    display: flex;
    gap: 0.3rem;
  }
</style>
