---
const menuItems = [
  { name: "Nyitólap", url: "/", hidden: true },
  { name: "Életrajz", url: "/eletrajz/", weight: 2 },
  { name: "Képzőművészet", url: "/kepzomuveszet/", weight: 3 },
  { name: "Fotók", url: "/fotok/", weight: 4, hidden: true },
  {
    name: "Ismeretterjesztés",
    url: "/ismeretterjesztes/",
    weight: 5,
    hidden: true,
  },
  { name: "Család", url: "/csalad/", weight: 6, hidden: true },
  { name: "V2", url: "/v2", weight: 7, last: true },
];

const visibleItems = menuItems.filter((item) => !item.hidden);
---

<nav class="desktop">
  <ul>
    {
      visibleItems.map((item, index) => (
        <>
          <li>
            <a href={item.url}>{item.name}</a>
          </li>
          {!item.last && index < visibleItems.length - 1 && (
            <li>
              <img
                src="/images/separ.jpg"
                alt="separator"
              />
            </li>
          )}
        </>
      ))
    }
  </ul>

  <ul>
    <li>
      <a
        href="http://www.forestpress.hu/hu/index.php"
        target="_blank"
      >
        Forestpress
      </a>
    </li>
    <li>
      <img
        src="/images/separ.jpg"
        alt="separator"
      />
    </li>
    <li>
      <a
        href="http://www.vadaszat.net"
        target="_blank"
        >Nimród</a
      >
    </li>
  </ul>
</nav>

<nav class="mobile">
  <details>
    <summary>Menü</summary>
    <ul>
      {
        visibleItems.map((item) => (
          <li>
            <a href={item.url}>{item.name}</a>
          </li>
        ))
      }
      <li>
        <a
          href="http://www.forestpress.hu/hu/index.php"
          target="_blank"
        >
          Forestpress
        </a>
      </li>
      <li>
        <a
          href="http://www.vadaszat.net"
          target="_blank"
          >Nimród</a
        >
      </li>
    </ul>
  </details>
</nav>

<style>
  nav {
    font-family:
      Times New Roman,
      verdana;
    font-size: 1.05rem;
    color: white;
    background-color: black;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  nav.desktop {
    display: flex;
    @media only screen and (max-width: 450px) {
      display: none;
    }

    justify-content: space-between;
    padding: 0rem 1rem;
    height: 2rem;

    img {
      height: 1.5rem;
      padding-bottom: 0.3rem;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  nav.mobile {
    display: none;
    @media only screen and (max-width: 450px) {
      display: block;
    }

    flex-direction: column;
    padding: 0.5rem 0;

    details {
      color: #b7b459;
      summary::-webkit-details-marker {
        display: none;
      }
      summary {
        cursor: pointer;
        text-align: center;
        list-style: none;
      }
      &[open] {
        summary {
          text-decoration: underline dotted white;
          text-decoration-thickness: 0.2rem;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
      padding-top: 0.5rem;
    }
  }
</style>
