---
import { ClientRouter } from "astro:transitions";
import Header from "../../components/v2/Header.astro";
import "../../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
  mainClass?: string;
}

const {
  title = "Szarvas Pongrác - Grafikus, Festő, Illusztrátor",
  description = "Szarvas Pongrác grafikus, festő, illusztrátor honlapja - Modern verzió",
  mainClass = "",
} = Astro.props;
---

<!doctype html>
<html
  lang="hu"
  data-theme="light"
  class="bg-base-200"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="keywords"
      content="Szarvas Pongrác, grafikus, festő, illusztrátor, vadászat, természet, Baja"
    />
    <meta
      name="author"
      content="Szarvas Pongrác"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <title>{title}</title>

    <!-- view transitions -->
    <ClientRouter />
  </head>
  <body class="bg-base-200 min-h-screen relative font-inter">
    <Header />
    <div class="flex flex-col min-h-[calc(100vh-4rem)] justify-between">
      <main class={`flex-1 ${mainClass}`}>
        <slot />
      </main>
      <slot name="footer" />
    </div>
  </body>
</html>
