---
export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Szarvas Pongrác - Grafikus, Festő, Illusztrátor",
  description = "Szarvas Pongrác grafikus, festő, illusztrátor honlapja",
} = Astro.props;
---

<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="keywords"
      content="Szarvas Pongrác, grafikus, festő, illusztrátor, vadászat, természet, Baja"
    />
    <meta
      name="author"
      content="Szarvas Pongrác"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/styles.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
